<br><br><br><br><br>
<div class='card'>
    <form >

<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
        <!-- <tr>
            <td> <label>Profile Id</label></td>
            <td><input type="text" name="profileID"  [(ngModel)]="profileItem.profileId"/></td>                  
          </tr> -->
          <tr>
              <td> <label>Title</label></td>
              <td><input type="text" name="title" [(ngModel)]="readItem.title" /></td>                  
            </tr>   
           <tr>
                <td><label>Slug</label></td>
                <td><input type="text" name="slug" [(ngModel)]="readItem.slug"/></td>                  
              </tr>  
              <tr>
                <td><label>Body</label></td>
                <td><input type="text" name="body" [(ngModel)]="readItem.body"/></td>                  
              </tr>  
              
            
            
              
                     
      </tbody>
    </table>
  </div>
</div>
</form>
</div>



