

<br>
<br>
<br>
<br>
<header class="jumbotron">

  <div class="container">
      <div class="row row-header">
          <div class="col-12 col-sm-6">
            
              <h1><input id="title" type="text" name="title" [(ngModel)]="readItem.title" disabled/></h1>
              <textarea id="p" [(ngModel)]="readItem.body" disabled ><input id="body" type="" name="body" disabled/></textarea>
          
           
          </div>
        
      </div>
  </div>


</header> 















<!-- <br><br><br><br><br>
<div class='card'>
    <form >

<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
        
          <tr>
              <td> <label>Title</label></td>
              <td><input type="text" name="title" [(ngModel)]="readItem.title" /></td>                  
            </tr>   
           <tr>
                <td><label>Slug</label></td>
                <td><input type="text" name="slug" [(ngModel)]="readItem.slug"/></td>                  
              </tr>  
              <tr>
                <td><label>Body</label></td>
                <td><input type="text" name="body" [(ngModel)]="readItem.body"/></td>                  
              </tr>  
              
            
            
              
                     
      </tbody>
    </table>
  </div>
</div>
</form>
</div>

 -->
