<br>
<br>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="'col-md-9">
    <div calss="panel panel default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Add Post</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-12">
                    <label id="lbtitle"><b>Title</b></label><br>
                    <form  class="form_group field" [formGroup]="addPost" (ngSubmit)="onAddPost()" >
                        <div class="inputs">
                           
                            
                            <input id="title" name="title" formControlName="title" type="text" required><br>
                            <span class="text-danger lbtitle"
                            *ngIf="(addPost.controls['title'].touched||submitted) && addPost.controls['title'].errors?.['required']">
                            Title is required
                        </span><br>
                            <!-- <ul class="list-menu"*ngFor="let i of category">
                              
                                <label></label><input type="radio" id="{{i.categoryname}}"><li>{{i.categoryname}}</li>
                               
                              </ul> -->
                              <label class="Categories" id="category"><b>Categories</b></label>
                              <select  name="category" id="category" formControlName="category" required><br>
                                <option *ngFor="let i of category">{{i.category}}</option>
                                
                            </select><br><br>
                             
                           
                      
                  
                            <label><b>Slug</b></label> <br><input id="slug" name='slug' formControlName="slug" type="text" required><br><br>
                            <span class="text-danger"
                            *ngIf="(addPost.controls['slug'].touched||submitted) && addPost.controls['slug'].errors?.['required']">
                            Slug is required
                        </span>
                     <br>
                      
            <label><b>Body</b></label><br>
             <textarea id="body" name="'body" formControlName="body" type="text" required></textarea>
            <span class="text-danger"
            *ngIf="(addPost.controls['body'].touched||submitted) && addPost.controls['body'].errors?.['required']">
            Body is required
        </span><br>
     
            <label for="publish-date" id="publisheddate"><b>Published Date</b></label><br>
            
                <input type="date" id="date" name='date' formControlName="date" required /><br>
                <span class="text-danger"
                *ngIf="(addPost.controls['date'].touched||submitted) && addPost.controls['date'].errors?.['required']">
                Date is required
            </span>
                <!-- <input type="text" id="email" name='email' formControlName="email" required /> -->
                
       <br><br>
        
                           
                        <div><button class="w3-button w3-black w3-round-large" id="save" type="submit">Save</button><span></span><br><br></div>
                        </div>
                    </form>
                    <button class="w3-button w3-black w3-round-large" id="cancel"(click)="onremove()">Cancel</button>
                </div>
             
            </div>
        </div>
    </div>
   

