<br>
<br>

<div class='card'>
  <br>
  <div class='card-header'>
  <label id="posts"><b>POSTS</b></label> <label class="Categories" id="category"><b>Search Categories</b></label>
   <select  name="category" id="category" formControlName="category" required><br>
     <option *ngFor="let i of category">{{i.category}}</option>
     
 </select>
  </div>
  
  <div class='card-body'>            
    <div class='table-responsive'>
      <table class='table'>
           
        <thead>
          <tr>
          
            <!-- <th>ID</th> -->
             <th>Title</th>
            <th>Slug</th>
            <th>Body</th>
            <th>Published Date</th>
            <th>Category</th>
          </tr>
         
        </thead>
        <tbody>  
          <tr *ngFor="let i of profiless" >
                <td><a href="/">{{i.title}}</a></td>
                <td style="width:20px">{{i.title}}</td>
                <td style="width:20px">{{i.slug}}</td>
                <td style="width:400%;">{{i.body}}</td>
                 <td>{{i.category}}</td> 
                <!-- <select >
                  <option  >{{i.category}}</option>
                  
              </select> -->
                <td>
                  
                  <button class="btn btn-warning mx-3" style="cursor:pointer" (click)="editProduct(i)"  style="margin-left:20px;"> Edit</button></td>
                  <td><button class="btn btn-danger" style="cursor:pointer" (click)="deleteProduct(i)"> Delete</button>
                </td>
              </tr>              
        </tbody>
      </table>
    </div>
  </div>
</div>

 

